@font-face {
    font-family: 'calculator';
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Calculator.ttf") format("truetype"); 
}

body{
    background-color: rgb(1, 61, 68)!important;
}



.container{
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);   
}

#resultado{
    background-color: rgb(143, 139, 139);
    font-family: "calculator"!important;
    height: 50px;
    font-size: 40px;
    border: 1px black solid;
}

h1{
    display: flex;
    justify-content: center;
    font-family: "calculator"!important;
    color: rgb(0, 0, 0);
    height: 100px;
    font-size: 5em !important;
    background-color: rgb(135, 255, 217)
}   

.btn{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(197, 197, 197)!important;
    color: rgba(0, 0, 0,1);
    border: 1px black solid!important;
    border-radius: 0!important
}

.btn:hover{
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.9), 0 0 20px rgb(255, 255, 255)!important;
  outline-color: rgba(255, 255, 255, 0)!important;
  outline-offset: 80px!important;
  text-shadow: 10px 10px 10px rgb(255, 255, 255)!important;
  transform: scale(1.1);
  
}

#fondo-calculadora{
    min-width: 150px;
    max-width: 500px;
    background-color: rgb(135, 255, 217)
}

.operador{
    background-color: rgb(219, 128, 9)!important
}

#igual{
    background-color: rgb(38, 177, 38)!important
}

#logo-github{
    display: flex;
    height: 50px;
    border-radius: 100%;
   
}

#logo-github:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}



footer div{
    display: flex;
    height: 100%;
    justify-content: center;
    color: rgb(240, 236, 236);
    font-size: 20px;
    padding: 2%
}
@import "../node_modules/bootstrap/scss/bootstrap";